@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{ /*Variáveis de cores*/
    --cabecalho: #ac7f61;
    --texto-cabecalho-footer: rgb(255, 255, 255);
}

body {
    font-family: Arial, sans-serif;
    background-color: #e1f7d29a;
}

header, footer{
    background-color: var(--cabecalho); /*Cor de fundo do cabeçalho e do rodapé*/
    padding: 30px; /*Espaço entre o título e o parágrafo do cabeçalho e do rodapé*/
    text-align: center; /*alinhamento de texto */
    color: var(--texto-cabecalho-footer); /*cor da letra do cabeçalho e do rodapé*/
}

body section{
    margin: 15px 0 15px 0;
    text-align: center; /*alinhamento do texto do cabecalho e do rodapé*/
    line-height: 25px; /*espaço entre as linhas*/
}

footer a{ /*estilização do link do rodapé*/
    text-decoration: none; 
    color: var(--texto-cabecalho-footer)
}

/*Estilização telas grandes*/

@media screen and (min-width: 999px) {
    main section p {
        margin-bottom: 50px;
        font-size: 2em;
        line-height: 50px;
    }

    header h1{
        font-size: 4em;
    }

    .imagem {
        min-height: 80vh;
        background-size: cover;
        background-position: right center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .imagem p {
        background-color: rgba(255, 255, 255, 0.664);
        width: 70vw;
        margin: 15px;
        padding: 5px;
    }

    #imagem1 {
        background-image: url(imagens/imagem1.png);
    }

    #imagem2 {
        background-image: url(imagens/imagem2.png);
    }
}

/*Estilização para telas pequenas*/

@media screen and (max-width: 999px) {
 
    main section p {
        margin-bottom: 50px;
        font-size: 1.2em;
    }

    .imagem {
        min-height: 80vh;
        background-size: cover;
        background-position: right center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .imagem p {
        background-color: rgba(255, 255, 255, 0.664);
        width: 85vw;
        margin: 15px;
        padding: 5px;
    }

    #imagem1 {
        background-image: url(imagens/imagem1-pq.png);
    }

    #imagem2 {
        background-image: url(imagens/imagem2-pq.png);
    }
}
